.others-container {
    padding: 0px 50px 0px 50px;
}



.others-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}





.others-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 100px;
    column-gap: 20px;
}
.other-project {
    cursor: pointer;
    box-shadow: 0 10px 30px -15px #F7F7FF;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    height: 100%;
    padding: 2rem 1.75rem;
    border-radius: 5px;
    background-color: #F7F7FF;
    transition: transform 250ms;
}

.other-project:hover {
    transform: translateY(-10px);
}

.other-folders {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.other-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    
}
.other-project-icon {
    font-size: 20px;
}

.tect-stack-used {
    display: flex;
    font-size: 12px;
    gap: 20px;
}

/* media query breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .others-container {
        padding: 0px 20px 0px 20px;
    }
    
    .others-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 100px;
        column-gap: 20px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .others-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 100px;
        column-gap: 20px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .others-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 100px;
        column-gap: 20px;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
