.hero-container{
    margin-top: 50px;
    padding: 80px 50px 0px 50px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    
}
.hero-info {
    padding-top: 50px;
}
.hero-info h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 20px;
    color: #0b0b13;
    text-transform: uppercase;
}

.hero-info h6{
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px;
    color: #0b0b13;
}

.lead {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 25px;
    color: #0b0b13;
}

.hero-img {
    clip-path: circle();
    width: 600px;
    height: 520px;
}
.hero-img img {
    width: 100%;
    height: auto;
}



.btn-bar {
    margin-top: 40px;
}

.hero-downloadBtn {
    font-size: 25px;
    line-height: 1;
    font-weight: 400;
    position: relative;
    text-decoration: none;
    padding-left: 0;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    color: #FF9301;
}


/* media query breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .hero-container{
        margin-top: 50px;
    }
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}