.about-container {
    margin-top: 50px;
    padding: 80px 50px 0px 50px;
    background-color: #f7f7ff;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.about-img{
    background-color: #F7F7FF;
}

.about-img img {
    width: 600px;
    opacity: .6;
    border-radius: 10px;
    transition: transform 250ms, opacity 400ms;
}

.about-img img:hover {
    opacity: 1;
}

.about-icons {
    width: 40px;
   
    z-index: 10;
    color: var(--light-slate);
}

.about-icons-list{
    display: flex;
    flex-direction: column;
    gap: 7px;
    
}

.about-icons-list::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: black;
    margin-top: 20px;
}


.about-email a {
    margin: 20px auto;
    padding: 10px;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.1em;
    text-decoration: none;
    -moz-transition: ease all 0.35s;
    -o-transition: ease all 0.35s;
    -webkit-transition: ease all 0.35s;
    transition: ease all 0.35s;
    color: #FF9301;
    writing-mode: vertical-rl;
}

.about-email::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: black
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .about-container {
        padding: 80px 20px 0px 20px;
    }

    .about-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .about-container {
        margin-top: 50px;
        background-color: #f7f7ff;
    }
    

    .about-icons {
        display: none;
    }

    .about-email{
        display: none;
    }

    
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}