.stack-container {
    padding: 20px 50px 50px 50px;
    background-color: #f7f7ff;
}

.stack-content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding-right: 10px;
    
}
.stack-card {
    background-color: white;
    border-radius: 5px;
}

.stack-card-content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 10px;
}

.stack-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.stack-card-title {
    font-size: 18px;
    color: #0b0b13;
}


.stack-card-desc {
    font-size: 13px;
    margin-top: -5px;
}


.stack-card-icon {
    font-size: 40px;
    color: #0b0b13;
}

/* media query breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .stack-container {
        padding: 20px 0;
        background-color: #f7f7ff;
    }
    
    .stack-content {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        
    }
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}