.navbar-container{
    position: absolute;
    padding: 30px 40px 0px 120px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}
.navbar {
    display: flex;
    justify-content: space-between;
    
}

.nav-toggle-icon {
    fill: red;
}

.navbar-info {
    display: flex;
    gap: 20px;
}

.navbar-switch {
    display: flex;
    gap: 20px;
}

/* media query breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar-info {
        display: none;
    }
    
    .navbar-switch {
        visibility: hidden;
    }
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}


    
