.navbar-container{
    padding: 30px 40px 0px 40px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}
.navbar {
    display: flex;
    justify-content: space-between;
    
}


.nav-logo {
    color: #000;
    font-weight: 600;
    text-decoration: none;
    font-size: 30px;
}




.nav-toggle-icon {
    background-color: #FF9301;
    border-radius: 5px;
    padding: 10px;
    fill: white;
    font-size: 20px;
}

.navbar-info {
    display: flex;
    gap: 20px;
}

.navbar-switch {
    display: flex;
    gap: 20px;
}

/* media query breakpoints */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar-container{
        padding: 10px;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    
    }
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        
    }

   

    .navbar-info, .navbar-switch {
        display: none;
    }
    
     
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav-logo, .nav-toggle {
        display: none;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .nav-logo, .nav-toggle {
        display: none;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .nav-logo, .nav-toggle {
        display: none;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .nav-logo, .nav-toggle {
        display: none;
    }


}


    
