.sidebar-left {
  width: 80px;
  position: fixed;
  bottom: 0;
  top: 0;
  background-color: #0c0c14;
  border-right: 1px solid rgba(11, 11, 19, 0.1);
}

.theme-light .dark-bg {
  background-color: #f7f7ff;
}

.theme-light .sidebar-left {
  background: #fff;
}

.sidebar-left .scroll-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sidebar-left .sidebar-top  {
  background-color: #ff9301;
  height: 80px;
  width: 80px;
  line-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-top a {
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: 40px;
}

.sidebar-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
}

.header-left .nav-menu {
  padding-top: 45px;
  padding-bottom: 45px;
}
.header-left .nav-menu li {
  width: 100%;
}

.sidebar-left .nav-menu {
  padding-top: 45px;
  padding-bottom: 45px;
  
}

 .sidebar-left .nav-menu li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.theme-light .sidebar-left .nav-menu li + li {
  border-top: 1px solid rgba(11, 11, 19, 0.1);
}



.sidebar-left .nav-menu li .sidebar-nav-link{
  margin: 0;
  color: #fff;
  text-decoration: none;
  -moz-transition: ease all 0.35s;
  -o-transition: ease all 0.35s;
  -webkit-transition: ease all 0.35s;
  transition: ease all 0.35s;
}

.theme-light .sidebar-left .nav-menu li .sidebar-nav-link {
  color: #0b0b13;
}


.sidebar-left .nav-menu li .sidebar-nav-link {
  color: #0b0b13;
}



.sidebar-left .nav-menu li .sidebar-nav-link .sidebar-icon {
  width: 30px;
  height: 30px;
  line-height: 40px;
  font-size: 20px;
  padding: 10px 0;
} 