@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  overflow-x: hidden;
}

body {
    background: #10101a;
    color: rgba(255, 255, 255, 0.8);
    font-family: "Rubik", monospac;
    line-height: 1.7;
    font-size: 15px;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }

body.theme-light {
    background: #fff;
    color: #555;
    font-weight: 400;
}

img {
    max-width: 100%;
}

* {
    outline: none !important;
}

a{
    color: #ff9301;
}

a:hover {
    color: #d77c00;
    text-decoration: none;
}
p,h1,h2,h3,h4,h4 {
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}



.main-content{
    padding-left: 80px;
}

section{
    padding: 100px 0;
}

.title-header {
    margin: 0;
    color: #0b0b13;
    position: relative;
    z-index: 1;
    font-weight: 600;
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
}